{% extends "layout.html" %}

{% block title %}
      Home | Aleksander Garbuz
{% endblock %}

{% block main %}
      <!--intro screen-->
      <section id="home">
            <div class="hero">
                  <div class="header">
                        <h1 class="wow fadeInUp" data-wow-delay="1s"> <span class="in1">Hi, my name is</span></h1>
                        <h1 class="wow fadeInUp" data-wow-delay="1.2s"> <a href="https://atg218.github.io/about" class="in2" style="text-decoration: none; color: rgb(204, 214, 246) !important;">Aleksander Garbuz</a></h1>
                        <br><br>
                        <h1 class="line anim-typewriter">I'm a ...</h1>
                  </div>

            </div>

      <div class="scroll-down"></div>

      </section>
      <!--projects-->
      <br><br>
      <section id="projects">
      <br>

            <h6>projects</h6>
            <div class="vertical"></div>

            <div class="whitespace"></div>
            <div class="whitespace"></div>

            <div style="display:block;">

                  <!--project 1-->
                  <div class="wow fadeInUp project"  data-wow-delay="0.3s" data-sr-id="6" style="visibility: visible;opacity: 1;transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;">
                  <div class="project-content1" style="z-index:100;">
                        <p class="project-overline">Placeholder 🌎</p>
                        <h3 class="project-title">name of project</h3>
                        <div class="project-description">
                        <p style="font-size: 15px !important;">Description of project</p>
                        </div>
                  </div>
                  <div class="project-image project-image1">
                        <a href="projects/stemninjas">
                        <div class="img" style="position: relative; overflow: hidden;">
                        <img src="img/stemninjas.png" alt="WebPOSE" loading="lazy" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; z-index:5;">
                        </div>
                        </a>
                  </div>
                  </div>


                  <div class="whitespace"></div>
                  <!--project 2-->
      </section>
      <div class="whitespace"></div>